<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <script src="/assets/lib/jquery-2.1.4.min.js"></script>
    <script src="/assets/lib/bootstrap.min.js"></script>
    <script src="/assets/main.js"></script>
    <script src="/assets/application.js"></script>
</head>
<body>
    <button type="button" class="btn btn-info btn-lg" style="margin-bottom: 10px;" data-toggle="modal" data-target="#createUserModal">Create User</button>
   
    <div id="createUserModal" class="modal fade" role="dialog" tabindex="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New User</h4>
                </div>
                <div class="modal-body">
                    <form id="signup-form" method="POST" class="form-horizontal">
                        <input type="hidden" name="_csrf" value="{{_csrf}}" />
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-7">
                                <input type="email" name="email" id="email" placeholder="Email" autofocus="autofocus" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mNumber" class="col-sm-3 control-label">M-Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="mNumber" id="mNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userRole" class="col-sm-3 control-label">User Role</label>
                            <div class="col-sm-7">
                                <select id="userRole">
                                    <option value="Blocked">Blocked</option>
                                    <option value="User">User</option>
                                    <option value="SiteAdmin">Site Admin</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="createUser()">Create User</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteUserModal" class="modal fade" role="dialog" tabindex="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" name="userId" id="userId" />
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" name="usernameheader"></h4>
                </div>
                <div class="modal-body">
                    <p name="usernameparagraph"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" onclick="deleteUser()" data-dismiss="modal">Delete User</button>
                </div>
            </div>
        </div>
    </div>

    <div id="contactUserModal" class="modal fade" role="dialog" tabindex="">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Contact User</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="commentform">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="contactEmail">Email Address</label>
                            <div class="col-md-6">
                                <input type="email" readonly="readonly" class="form-control" id="contactEmail" name="contactEmail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="subject">Subject</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="subject" name="subject" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="body">Email Body</label>
                            <div class="col-md-6">
                                <textarea rows="6" class="form-control" id="body" name="body"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default" onclick="contactUser()" data-dismiss="modal">Contact User</button>
                </div>
            </div>
        </div>
    </div>
    
     <table class="table-striped table-condensed table-hover table table-bordered">
        <tr>
            <th>Full Name</th>
            <th>Display Name</th>
            <th>M Number</th>
            <th>E-Mail</th>
            <th>User Role</th>
            <th>Contact User</th>
            <th>Delete User</th>
        </tr>
        {{#each users}}
        <tr>
            <td>{{this.profile.fullName}}</td>
            <td>{{this.profile.displayName}}</td>
            <td>{{this.mNumber}}</td>
            <td>{{this.email}}</td>
            <td>
                <select id="userRole" onchange="setUserPermission('{{this._id}}')">
                    {{#select this.profile.roleName}}
                    <option value="Blocked">Blocked</option>
                    <option value="User">User</option>
                    <option value="SiteAdmin">Site Admin</option>
                    {{/select}}
                </select>
            </td>
            <td><a data-toggle="modal" data-target="#contactUserModal" data-user-email="{{this.email}}">Contact User</a></td>
            <td><a data-toggle="modal" data-target="#deleteUserModal" data-user-id="{{this._id}}" data-user-fullname="{{this.profile.fullName}}" data-user-email="{{this.email}}">Delete User</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html>

<script type="text/javascript">
    $('#deleteUserModal').on('show.bs.modal', function (e) {

        //get data-id attribute of the clicked element
        var userId = $(e.relatedTarget).data('user-id');
        var userName = $(e.relatedTarget).data('user-fullname');
        var userEmail = $(e.relatedTarget).data('user-email');
        //populate the textbox
        $(e.currentTarget).find('input[name="userId"]').val(userId);
        
        if (userName === ''){
            $(e.currentTarget).find('h4[name="usernameheader"]').text("Delete User");
            var message = "You are about to delete the profile for " + userEmail + ". This is permanent. Do you want to continue?";
            $(e.currentTarget).find('p[name="usernameparagraph"]').text(message);
        }
        else {
            $(e.currentTarget).find('h4[name="usernameheader"]').text("Delete User: " + userName);
            var message = "You are about to delete the profile for " + userName + ". This is permanent. Do you want to continue?";
            $(e.currentTarget).find('p[name="usernameparagraph"]').text(message);
        }
       
    });

    $('#contactUserModal').on('show.bs.modal', function (e) {
        var userEmail = $(e.relatedTarget).data('user-email');
        $(e.currentTarget).find('input[name="contactEmail"]').val(userEmail);
        $(e.currentTarget).find('input[name="subject"]').val("");
        $(e.currentTarget).find('textarea[name="body"]').val("");

    });

    $('#createUserModal').on('show.bs.modal', function (e) {
        $(e.currentTarget).find('input[name="mNumber"]').val("M");
        $(e.currentTarget).find('input[name="email"]').val("");
    });

    function deleteUser() {
        var userId = $('#userId').val();
        $.ajax({
            url: '/deleteUser',
            dataType: 'json',
            data: { "userId": userId },
            type: "POST",
            success: function (data) {
            }
        });
    }

        function createUser() {
            var userEmail = $('#email').val();
            var mNumber = $('#mNumber').val();
            var roleName = $('select option:selected').val();

            console.log(roleName);
            console.log(mNumber);
            console.log(userEmail);

            $.ajax({
                url: '/createUser',
                dataType: 'json',
                data: { "userEmail": userEmail, "mNumber": mNumber, "roleName": roleName },
                type: "POST",
                success: function (data) {
                }
            });
        }

        function contactUser() {
            var userEmail = $('#contactEmail').val();
            var emailSubject = $('#subject').val();
            var emailBody = $('#body').val();

            $.ajax({
                url: '/contactUser',
                dataType: 'json',
                data: { "userEmail": userEmail, "emailBody": emailBody },
                type: "POST",
                success: function (data) {

                }
            });
        }

        function setUserPermission(userId) {
            var roleName = $('select option:selected').val();
            $.ajax({
                url: '/updateUserPermissions',
                dataType: 'json',
                data: { "userId": userId, "roleName": roleName },
                type: "POST",
                success: function (data) {

                }
            });
        }
</script>